security:
  basic:
    enabled: true
  user:
    name: user
    password: password123
server:
  port: 8086
  
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/buzuotaxuan/microservice-cloud-master
          search-paths:
          - '{application}/src/main/resources'
          username: 
          password: 
    bus:
      trace:
        enabled: true
      destination: configserver # 注意这里 的名字是MQ 中的topic 一定要和监听的客户端一致
    stream:
      default-binder: rabbit1
      rabbit: 
           bindings: 
              springCloudBusInput: 
                  consumer: 
                    durableSubscription: false
      bindings:
#        input:
#          destination: foo
#          binder: rabbit1
        springCloudBusInput:  #consumer
          destination: configserver
          binder: rabbit1
          group: ${spring.application.name}:${spring.cloud.client.ipAddress}:${server.port}
        springCloudBusOutput: #producer
          destination: configserver
          binder: rabbit1
          
      binders:
        rabbit1:
          type: rabbit
          environment:
            spring:
              rabbitmq:
                host: 119.29.8.74
                port: 5672
                username: guest
                password: guest

  application:
    name: microservice-config-server
  rabbitmq:
    host: 119.29.8.74
    port: 5672
    username: guest
    password: guest
    
  profiles:
    active: dev
    
eureka:
  client:
    serviceUrl:
      defaultZone: http://user:password123@localhost:8080/eureka
  instance:
    prefer-ip-address: true
