security:
  basic:
    enabled: true
  user:
    name: user
    password: password123
server:
  port: 8086
  
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/buzuotaxuan/microservice-cloud-master
          search-paths:
          - '{application}/src/main/resources'
          username: 
          password: 
    bus:
      trace:
        enabled: true
  application:
    name: microservice-config-server
  rabbitmq:
    host: 119.29.8.74
    port: 5672
    username: guest
    password: guest
  profiles:
    active: dev
    
eureka:
  client:
    serviceUrl:
      defaultZone: http://user:password123@localhost:8080/eureka
  instance:
    prefer-ip-address: true
