security:
  basic:
    enabled: true
  user:
    name: user
    password: password123
    
server:
  port: 8080
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/buzuotaxuan/microservice-cloud-master/{application}/src/main/resources/
          username: 
          password: 
  application:
    name: microservice-config-server
  rabbitmq:
    host: http://119.29.8.74
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    serviceUrl:
      defaultZone: http://user:password123@localhost:8761/eureka
  instance:
    prefer-ip-address: true
